src/main/resources/CSC_TXLifeRequest.xsd

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!-- SAR024 by rramtani - Moved 'TransactionContext' to CSC_Extensions.xsd -->
<!-- A11088 by rramtani on 02/20/2009 - Modifications to resolve schema validation issues 
	 Added OLifEExtension abstract reference in OLifE
	 Moved TXLife and Shared Schema properties to CSC_Extensions.xsd 
-->
<!-- SAR024 by rrathore3 •	Added the “TransactionContext” element to the <xsd:element name="TXLifeRequest"> 
		and  <xsd:element name="TXLifeResponse"> declarations
-->
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Lisa Pogue (CSC Financial Services Group) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="CSC_Extensions.xsd"/>
	<xsd:element name="TXLife">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="UserAuthRequest" maxOccurs="unbounded"/>
				<xsd:element ref="TXLifeRequest" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ChangeSubType">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ChangeTC" minOccurs="0"/>
				<xsd:element ref="TranContentCode" minOccurs="0"/>
				<xsd:element ref="ChangeBasedOn" minOccurs="0"/>
				<xsd:element ref="ElementName" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:ID"/>
			<xsd:attribute name="ChangeID" type="xsd:IDREF"/>
			<xsd:attribute name="DataRep" type="DATAREP_TYPES"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Criteria">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ObjectType"/>
				<xsd:element ref="PropertyName"/>
				<xsd:element ref="PropertyValue"/>
				<xsd:element ref="Operation"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CriteriaExpression">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="Criteria"/>
				<xsd:sequence>
					<xsd:element ref="CriteriaOperator"/>
					<xsd:choice maxOccurs="unbounded">
						<xsd:element ref="Criteria"/>
						<xsd:element ref="CriteriaExpression"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DataTransmittalSubType">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ObjectType"/>
				<xsd:element ref="TranContentCode"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FormInstanceDestination">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="FormInstanceDestinationKey" minOccurs="0"/>
				<xsd:element ref="FormInstanceDestinationType" minOccurs="0"/>
				<xsd:element ref="FormInstanceDestinationDesc" minOccurs="0"/>
				<xsd:element ref="MailToPartyID" minOccurs="0"/>
				<xsd:element ref="NumberOfCopies" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:ID"/>
			<xsd:attribute name="DataRep" type="DATAREP_TYPES"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FormInstanceRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="FormInstanceRequestKey" minOccurs="0"/>
				<xsd:element ref="FormInstanceCategory" minOccurs="0"/>
				<xsd:element ref="FormName" minOccurs="0"/>
				<xsd:element ref="FormInstanceVersion" minOccurs="0"/>
				<xsd:element ref="CreationDate" minOccurs="0"/>
				<xsd:element ref="CreationTime" minOccurs="0"/>
				<xsd:element ref="ReprintInd" minOccurs="0"/>
				<xsd:element ref="FormInstanceDestination" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:ID"/>
			<xsd:attribute name="DataRep" type="DATAREP_TYPES"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="MIBRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="MIBServiceDescriptor" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:element name="MIBServiceDescriptor">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="MIBService" minOccurs="0"/>
				<xsd:element ref="MIBServiceOptions" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:element name="MIBServiceOptions">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="FileCode" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>		
	
	<xsd:element name="ObjectTypeCC">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ObjectType" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OLifE">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="Activities"/>
					<xsd:element ref="Groupings"/>
					<xsd:element ref="Holdings"/>
					<xsd:element ref="Parties"/>
					<xsd:element ref="Relations"/>
					<xsd:element ref="PolicyProducts"/>
					<xsd:element ref="InvestProducts"/>
					<xsd:element ref="FinancialStatements"/>
					<xsd:element ref="Scenarios"/>
					<xsd:element ref="FormInstances"/>
					<xsd:element ref="SettlementInfos"/>
					<xsd:element ref="OLifEExtensions"/>  <!-- A11088 Added -->
				</xsd:choice>
			</xsd:sequence>
			<xsd:attribute name="Version" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ProxyVendor">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="VendorName"/>
				<xsd:element ref="AppName"/>
				<xsd:element ref="AppVer"/>
				<xsd:element ref="SeqNum" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RequestBasis">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="BasisName"/>
				<xsd:element ref="InterestAssumption" minOccurs="0"/>
				<xsd:element ref="InterestAssumptionRate" minOccurs="0"/>
				<xsd:element ref="MortalityAssumption" minOccurs="0"/>
				<xsd:element ref="MortalityAssumptionBlend" minOccurs="0"/>
				<xsd:element ref="MortalityReEntryInd" minOccurs="0"/>
				<xsd:element ref="DividendAssumption" minOccurs="0"/>
				<xsd:element ref="DividendAssumptionBlend" minOccurs="0"/>
				<xsd:element ref="IllustrateNonGuarBonusInd" minOccurs="0"/>
				<xsd:element ref="LifeExpectancy" minOccurs="0"/>
				<xsd:element ref="JointLifeExpectancy" minOccurs="0"/>
				<xsd:element ref="ExclusionRatio" minOccurs="0"/>
				<xsd:element ref="GtdPayoutAmt" minOccurs="0"/>
				<xsd:element ref="InternalRateOfReturn" minOccurs="0"/>
				<xsd:element ref="LastGtdPayoutDate" minOccurs="0"/>
				<xsd:element ref="MaxMortalityAge" minOccurs="0"/>
				<xsd:element ref="PayoutsCertain" minOccurs="0"/>
				<xsd:element ref="PayoutAmt" minOccurs="0"/>
				<xsd:element ref="PolFee" minOccurs="0"/>
				<xsd:element ref="VectorRequest" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:ID"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ResultBasis">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="GDBComplianceEndDate" minOccurs="0"/>
				<xsd:element ref="LapseDate" minOccurs="0"/>
				<xsd:element ref="LapseReason" minOccurs="0"/>
				<xsd:element ref="InterestAssumption" minOccurs="0"/>
				<xsd:element ref="InterestAssumptionRate" minOccurs="0"/>
				<xsd:element ref="MortalityAssumption" minOccurs="0"/>
				<xsd:element ref="MortalityAssumptionBlend" minOccurs="0"/>
				<xsd:element ref="DividendAssumption" minOccurs="0"/>
				<xsd:element ref="DividendAssumptionBlend" minOccurs="0"/>
				<xsd:element ref="Vector" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:ID"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ResultInfo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ResultInfoCode" minOccurs="0"/>
				<xsd:element ref="ResultInfoDesc" minOccurs="0"/>
				
			</xsd:sequence>
			<xsd:attribute name="ProblemRef" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TargetURL">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="URLAddress" minOccurs="0"/>
				<xsd:element ref="SessionExpirationDate" minOccurs="0"/>
				<xsd:element ref="SessionExpirationTime" minOccurs="0"/>
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TransResult">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ResultCode"/>
				<xsd:element ref="ConfirmationID" minOccurs="0"/>
				<xsd:element ref="RecordsFound" minOccurs="0"/>
				<xsd:element ref="ResultInfo" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TXLifeNotify">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TransRefGUID"/>
				<xsd:element ref="TransType"/>
				<xsd:element ref="TransExeDate" minOccurs="0"/>
				<xsd:element ref="TransExeTime" minOccurs="0"/>
				<xsd:element ref="TransMode" minOccurs="0"/>
				<xsd:element ref="InquiryLevel" minOccurs="0"/>
				<xsd:element ref="MaxRecords" minOccurs="0"/>
				<xsd:element ref="StartRecord" minOccurs="0"/>
				<xsd:element ref="StartDate" minOccurs="0"/>
				<xsd:element ref="EndDate" minOccurs="0"/>
				<xsd:element ref="PendingResponseOK" minOccurs="0"/>
				<xsd:element ref="NoResponseOK" minOccurs="0"/>
				<xsd:element ref="TestIndicator" minOccurs="0"/>
				<xsd:element ref="TransResult" minOccurs="0"/>
				<xsd:element ref="OLifE" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TXLifeRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TransRefGUID"/>
				<xsd:element ref="TransType"/>
				<xsd:element ref="TransSubType" minOccurs="0"/>
				<xsd:element ref="DataTransmittalSubType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="ObjectTypeCC" minOccurs="0"/>
				<xsd:element ref="TransExeDate" minOccurs="0"/>
				<xsd:element ref="TransExeTime" minOccurs="0"/>
				<xsd:element ref="TransEffDate" minOccurs="0"/>
				<xsd:element ref="TransMode" minOccurs="0"/>
				<xsd:element ref="InquiryLevel" minOccurs="0"/>
				<xsd:element ref="MaxRecords" minOccurs="0"/>
				<xsd:element ref="NextRecord" minOccurs="0"/>
				<xsd:element ref="StartRecord" minOccurs="0"/>
				<xsd:element ref="StartDate" minOccurs="0"/>
				<xsd:element ref="EndDate" minOccurs="0"/>
				<xsd:element ref="PendingResponseOK" minOccurs="0"/>
				<xsd:element ref="NoResponseOK" minOccurs="0"/>
				<xsd:element ref="TestIndicator" minOccurs="0"/>
				<xsd:element ref="URLTargetRequestInd" minOccurs="0"/>
				<xsd:element ref="SupressNotificationsInd" minOccurs="0"/>
				<xsd:element ref="CaseStatusOnResponseInd" minOccurs="0"/>
				<xsd:element ref="PrimaryObjectType" minOccurs="0"/>
				<xsd:element ref="CriteriaExpression" minOccurs="0"/>
				<xsd:element ref="ChangeSubType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="FormInstanceRequest" minOccurs="0"/>
				<xsd:element ref="MIBRequest" minOccurs="0"/>
				<xsd:element ref="OLifE" minOccurs="0"/>
				<xsd:element ref="OLifEExtensions" minOccurs="0"/><!-- SAR024 ADDED -->
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:ID"/>
			<xsd:attribute name="PrimaryObjectID" type="xsd:IDREF"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TXLifeResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TransRefGUID"/>
				<xsd:element ref="TransType"/>
				<xsd:element ref="TransSubType" minOccurs="0"/>
				<xsd:element ref="TransExeDate"/>
				<xsd:element ref="TransExeTime"/>
				<xsd:element ref="TransMode" minOccurs="0"/>
				<xsd:element ref="InquiryLevel" minOccurs="0"/>
				<xsd:element ref="MaxRecords" minOccurs="0"/>
				<xsd:element ref="NextRecord" minOccurs="0"/>
				<xsd:element ref="StartRecord" minOccurs="0"/>
				<xsd:element ref="StartDate" minOccurs="0"/>
				<xsd:element ref="EndDate" minOccurs="0"/>
				<xsd:element ref="PendingResponseOK" minOccurs="0"/>
				<xsd:element ref="NoResponseOK" minOccurs="0"/>
				<xsd:element ref="TestIndicator" minOccurs="0"/>
				<xsd:element ref="URLTargetRequestInd" minOccurs="0"/>
				<xsd:element ref="ChangeSubType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="CriteriaExpression" minOccurs="0"/>
				<xsd:element ref="TransResult"/>
				<xsd:element ref="TargetURL" minOccurs="0"/>
				<xsd:element ref="OLifE" minOccurs="0"/>
				<xsd:element ref="OLifEExtensions" minOccurs="0"/><!-- SAR024 ADDED -->
			</xsd:sequence>
			<xsd:attribute name="PrimaryObjectID" type="xsd:IDREF"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UserAuthRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice>
					<xsd:sequence>
						<xsd:element ref="UserLoginName" minOccurs="0"/>
						<xsd:element ref="UserPswd" minOccurs="0"/>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element ref="UserSessionKey" minOccurs="0"/>
					</xsd:sequence>
				</xsd:choice>
				<xsd:element ref="UserDomain" minOccurs="0"/>
				<xsd:element ref="UserDate" minOccurs="0"/>
				<xsd:element ref="UserTime" minOccurs="0"/>
				<xsd:element ref="VendorApp" minOccurs="0"/>
				<xsd:element ref="ProxyVendor" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UserAuthResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TransResult" minOccurs="0"/>
				<xsd:element ref="SvrDate" minOccurs="0"/>
				<xsd:element ref="SvrTime" minOccurs="0"/>
				<xsd:element ref="UserSessionKey" minOccurs="0"/>
				<xsd:element ref="UserSessionKeyExpDate" minOccurs="0"/>
				<xsd:element ref="UserSessionKeyExpTime" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UserPswd">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CryptType" minOccurs="0"/>
				<xsd:choice>
					<xsd:element ref="Pswd" minOccurs="0"/>
					<xsd:element ref="CryptPswd" minOccurs="0"/>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Vector">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="VectorType" minOccurs="0"/>
				<xsd:element ref="VectorBaseDate" minOccurs="0"/>
				<xsd:element ref="VectorEndDate" minOccurs="0"/>
				<xsd:element ref="VectorMode" minOccurs="0"/>
				<xsd:element ref="InitialValue" minOccurs="0"/>
				<xsd:element ref="V" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="VectorItem">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="VectorType" minOccurs="0"/>
				<xsd:element ref="VectorBaseDate" minOccurs="0"/>
				<xsd:element ref="TimingOption" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="VectorRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="VectorSetType" minOccurs="0"/>
				<xsd:element ref="VectorItem" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="VendorApp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="VendorName" minOccurs="0"/>
				<xsd:element ref="AppName" minOccurs="0"/>
				<xsd:element ref="AppVer" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- ********** PROPERTIES ********** -->
	<xsd:element name="CryptPswd" type="xsd:string"/>
	<xsd:element name="CryptType" type="xsd:string"/>
	<xsd:element name="InquiryLevel" type="INQUIRY_LEVEL_CODES"/>
	<xsd:element name="MaxRecords" type="xsd:integer"/>
	<xsd:element name="Pswd" type="xsd:string"/>
	<xsd:element name="StartRecord" type="xsd:integer"/>
	<xsd:element name="SupressNotificationsInd" type="OLI_LU_BOOLEAN"/>
	<xsd:element name="SvrDate" type="xsd:date"/>
	<xsd:element name="SvrTime" type="xsd:time"/>
	<xsd:element name="TestIndicator" type="OLI_LU_BOOLEAN"/>
	<xsd:element name="TimingOption" type="TC_TIMINGOPTION"/>
	<xsd:element name="TransEffDate" type="xsd:date"/>
	<xsd:element name="TransExeDate" type="xsd:date"/>
	<xsd:element name="TransExeTime" type="xsd:time"/>
	<xsd:element name="TransMode" type="TRANS_MODE_CODES"/>
	<xsd:element name="TransRefGUID" type="xsd:string"/>
	<xsd:element name="TransSubType" type="TRANS_SUBTYPE_CODES"/>
	<xsd:element name="TransType" type="TRANS_TYPE_CODES"/>
	<xsd:element name="VectorBaseDate" type="xsd:date"/>
	<xsd:element name="VectorEndDate" type="xsd:date"/>
	<xsd:element name="VectorMode" type="OLI_LU_PAYMODE"/>
	<xsd:element name="VectorSetType" type="TC_VECTORSETTYPE"/>
	<xsd:element name="VectorType" type="TC_VECTOR"/>
	<xsd:element name="VendorName">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="VendorCode" type="xsd:string" use="required"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
